:root {
    --darkviolet: hsl(278, 68%, 11%);
    --lightviolet: hsl(270, 3%, 87%);
    --mediumviolet: hsl(279, 6%, 55%);
}

html {
    font-family: "Space Grotesk", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}


.right-background {
    height: 100vh;
    width: 100%;
}

.left-background {
    height: 100vh;
    width: 100%;
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
}

.cardfront {
    position: absolute;
    top: 20%;
    left: 15%;
    display: inline-block;
    max-width: 447px;
    max-height: 245px;
}

.cardfront #card-logo {
    position: absolute;
    top: 7%;
    right: 75%;
}

.cardfront #cardnumber {
    position: absolute;
    top: 50%;
    left: 8%;
    font-weight: 550;
    letter-spacing: 5px;
    color: floralwhite;
    font-size: 25px;
}

.cardfront #cardholder-name {
    position: absolute;
    bottom: 7.5%;
    left: 8%;
    font-weight: 400;
    letter-spacing: 1px;
    color: floralwhite;
}

.cardfront #expire-date {
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 7.5%;
    font-size: 16px;
    color: floralwhite;
}

.cardback {
    position: absolute;
    top: 50%;
    left: 30%;
}

.cardback #CVCcard {
    position: absolute;
    top: 38%;
    right: 15%;
    color: floralwhite;
}



.inputfields {
    display: block;
    position: absolute;
    right: 17%;
    top: 32%;
}

.piilossa {
    display: none;
}

.inputfields input:not(#MMfield, #YYfield, #CVCfield) {
    width: 20vw;
    height: 5vh;
}

.vierekkain {
    display: flex;
}

#CVC {
    padding-left: 1.2rem;
}

.expdateandcvc {
    display: flex;
}

.inputfields #MMfield, #YYfield {
    display: flex;
    margin: 0;
    width: 3vw;
    height: 5vh;
}

#YYfield {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.inputfields #CVCfield {
    width: 10.5vw;
}

.inputfields input {
    border-radius: 0.5rem;
    border: solid 1px var(--mediumviolet);
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 20px;
}

.inputfields input::placeholder {
    opacity: 50%;
}

input:focus {
    outline: solid 1px var(--darkviolet);
}

.inputfields h2 {
    font-size: 15px;
    letter-spacing: 2px;
    margin: 8px 0 8px 0;
}


#button {
    background-color: var(--darkviolet);

    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    color: floralwhite;
    border: none;

    margin-top: 1rem;
}

.error {
    display: block;
    color: red;
    margin: 2px 0 0 0;
}

.errorit {
    display: inline-block;
}

.confirmed {
    position: absolute;
    right: 25%;
    top: 35%;
}

.thankyoutext {
    position: absolute;
    text-align: center;
    right: 20%;
    bottom: 40%;
}

.thankyoutext p {
    color: gray;
}

.continuebutton {
    position: absolute;
    right: 17%;
    bottom: 34%;
}

.continuebutton #continue {


    box-sizing: border-box;
    width: 20vw;
    height: 5vh;

    background-color: var(--darkviolet);

    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    color: floralwhite;
    border: none;

    margin-top: 1rem;

    border-radius: 0.5rem;

}

.hidden {
    display: none;
}

.nakyva {
    display: block;
}

@media screen and (max-width: 1030px) {

    .left-background {
        height: 30vh;
        width: 100%;
    }

    .cardfront {
        position: relative;
    }


    }